# Global settings
shell = "zsh -c '{}'"
default-scheme = "base16-google-dark"
preferred-schemes = ["base16-gruvbox-dark", "base16-gruvbox-light", "base16-github-dark"]

[[items]]
path = "https://github.com/tinted-theming/tinted-delta"
name = "tinted-delta"
themes-dir = "configs"
supported-systems = ["base16", "base24"]

[[items]]
path = "https://github.com/tinted-theming/tinted-terminal"
name = "tinted-terminal-ghostty"
<<<<<<< Updated upstream
themes-dir = "themes/ghostty-scripts"
hook = '''
sh %f -g 5 -s 16,12,10 > ~/.config/ghostty/themes/tinted-theming
'''
supported-systems = ["base16", "base24"]
